@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Black+Ops+One&family=Kumbh+Sans:wght@400;700&family=Oleo+Script:wght@700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@300;400&family=Roboto:wght@400;500&display=swap");
.text-display-container {
  border: 1px solid rgb(48, 184, 112);
  width: 30rem;
}
.sneaker-header {
  color: hsl(26, 100%, 55%);
  font-family: "kumbh sans";
  font-weight: 400;
  margin-top: 5rem;
}
.shoe-description {
  font-family: "kumbh sans";
  font-weight: 400;
  font-size: 1.1rem;
}
.limited-edition-title {
  font-size: 2.5rem;
  font-family: "kumbh sans";
  font-weight: 400;
}
.price-container {
  border: 1px solid rgb(48, 184, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9rem;
  font-family: "kumbh sans";
  margin: 2rem 1rem 1rem 0;
}
.price {
  font-size: 1.5rem;
  font-weight: 400;
}
.button-container {
  display: flex;
  margin-top: 1.2rem;
}
.plus-minus-buttons {
  width: 7rem;
  background-color: rgb(220, 222, 223);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.4rem;
  margin-right: 1rem;
}
.plus-minus-buttons button {
  background-color: rgb(220, 222, 223);
  padding: 0.8rem;
  /* width: 3rem; */
  border: none;
  border-radius: 0.4rem;
}
.add-to-cart-btn {
  border: none;
  background-color: hsl(26, 100%, 55%);
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 12rem;
}
