.thumbnail-list {
  display: flex;
  justify-content: start;
  border: solid 1px red;
  list-style-type: none;
}
.main-image-display img {
  width: 25rem;
  object-fit: fill;
}
.image-container {
  display: flex;
  flex-direction: column;
  flex: start;
  width: 35rem;
  border: solid 1px red;
}
/* .thumbnail-list {
  display: flex;
  justify-content: start;
} */
