.navSection {
  display: flex;
  justify-content: center;
  /* border: solid blue 1px; */
}
.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 65rem;
  border-bottom: 1px solid grey;
}
.navLinks {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  list-style-type: none;
}
.nav-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center;
  text-align: inherit; */
  /* height: 2vh; */
  min-width: 30rem;
  /* border: solid red 1px; */
}
.avatar-section {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vh;
  /* border: solid red 1px; */
}

@media screen and (max-width: 600px) {
  .navbar {
    /* Adjust styles for small screens */
  }
}
